@import 'assets/scss/global/mixins';

.box {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #4F4F4F;
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  font-weight: 700;
  text-transform: uppercase;

  @include _tablet {
    grid-template-columns: 55% 45%;
    text-align: left;
  }

  @include _desktop {
    grid-template-columns: 1fr;
    padding: 15px 30px;
    text-align: center;
  }
}
.discount {
  font-weight: 700;

  span {
    color: #ACDA53;
  }
}

.sale {
  display: inline-block;
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 4px;
  color: #EB5757;
  border-bottom: 2px solid #EB5757;

  @include _tablet {
    grid-column-start: 1;
    margin: initial;
  }

  @include _desktop {
    grid-column-start: initial;
    margin: 0 auto;
  }
}
.offer {
  font-weight: 400;
  text-transform: initial;

  @include _tablet {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
  }

  @include _desktop {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
  }
}