@import 'assets/scss/global/mixins';

.wrapper {
  position: relative;
}

.row-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;

  @include _tablet {
    flex-direction: row;
  }

  @include _desktop {
    margin-top: 30px;

  }
}


.row-1-img {
  width: 100%;
  height: 165px;

  @include _tablet {
    width: calc(50% - 10px);
    height: 290px;
  }

  @include _desktop {
    width: calc(48% - 40px);
    height: 342px;
  }
}


.row-1-text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 150%;

  @include _tablet {
    margin-top: 0;
    width: calc(50% - 10px);
  }

  @include _desktop {
    width: calc(52% - 40px);
  }
  
  .wrapper {
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: hidden;

    @include _tablet {
      max-height: 220px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    @include _desktop {
      margin-top: 10px;
    }
  }

  p {
    margin-bottom: 25px;

    &:last-of-type {
      margin-bottom: 0px;
    }
  }
  
  .main-button {
    max-width: 320px;
    margin: 20px auto 0px;

    @include _tablet {
      max-width: 230px;
      margin: 0 0 0 0;
    }

    @include _desktop {
      margin: 20px 0 0 0;
    }
  }
}



.row-2 {
  margin-top: 50px;

  @include _desktop {
    margin-top: 80px;
  }

  .main-caption-s {
    text-align: center;
  }

  & > .info {
    text-align: center;
    font-size: 16px;
    line-height: 150%;
    color: #E0E0E0;
    max-width: 640px;
    margin: 10px auto 0px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;

    @include _tablet {
      flex-direction: row;
    }

    @include _desktop {

    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 320px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 150%;
    color: #BDBDBD;

    @include _tablet {
      max-width: 230px;
      margin-bottom: 0;
    }

    @include _desktop {
      max-width: 260px;

    }

    .img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 20px;
    }

    .info {
      margin-top: 10px;
    }
  }
}