@import 'assets/scss/global/mixins';

.article {
  width: 100%;
}

.image{
  position: relative;
  height: 190px;
  margin-bottom: 20px;

  @include _tablet{
    height: 150px;
    margin-bottom: 10px;
  }

  @include _desktop {
    height: 200px;
    margin-bottom: 20px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.caption {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text {
  font-size: 16px;
  line-height: 150%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color: #E0E0E0;
  margin: 10px 0;
}