@import 'assets/scss/global/mixins';
@import 'assets/scss/global/vars';

:deep(.decor-text-1) {
  visibility: hidden;

  @include _tablet {
    visibility: visible;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
  }
}

:deep(.decor-figure-1) {
  display: none;

  @include _tablet {
    display: block;
    top: -20%;
    right: -10%;
  }
  
  @include _desktop {
    top: -50%;
    right: 0;
  }
}

.inner {
  display: grid;
  grid-template-columns: minmax(0 ,1fr);
  margin-top: 30px;

  @include _desktop {
    grid-gap: 100px;
    grid-template-columns: repeat(2, 1fr);
  }
}
  
.form {
  padding: 40px;
  margin-bottom: 30px;
  background: $color-dark-2;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 10%);

  &-item {
    width: 100%;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contacts {
  &-list {
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
  }

  &-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;

    .icon {
      margin-right: 10px;
    }
  }

  &-link {
    line-height: 24px;
  }
}

.socials {
  &-list {
    display: flex;
    align-items: center;
  }

  &-item {
    margin-right: 30px;
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
  }
}


.text {
  font-size: 14px;
  line-height: 150%;

  p {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  .general-decor-elem {
    width: 16px;
    height: 16px;
    margin-bottom: 5px;
  }
}

.mb {
  margin-bottom: 50px;
}

.btn {
  margin: 0 auto;
  height: 40px;
}

.contact-caption {
  margin-bottom: 30px;
  font-family: "Impact", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFFFFF;
}