@import 'assets/scss/global/mixins';
@import 'assets/scss/global/vars';

.general-decor-text {
  display: none;

  @include _tablet {
    display: block;
    left: auto;
    right: 75px;
    top: -35px;
    transform: none;
  }
}

.wrapper {
  position: relative;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  margin-top: 30px;

  @include _tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 35px;
  }

  @include _desktop {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 80px;
  }
}

.item {
  display: flex;
  flex-direction: column;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: relative;
  left: 10px;
  transform: rotate(-45deg);
  border: 1px solid #4F4F4F;

  img {
    transform: rotate(45deg);
    filter: $filter-color-green;
  }
}

.caption {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 9px;
}

.content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  max-height: 80px;
  margin-bottom: 20px;
  overflow: hidden;
  font-size: 16px;
  line-height: 20px;
  color: #BDBDBD;
  text-overflow: ellipsis;

  @include _tablet {
    max-height: 100px;
  }
}