@import 'assets/scss/global/mixins';

.slider {
  margin-top: 20px;

  @include _desktop {
    margin-top: 30px;
  }
}

:deep(.slider > .list){
  height: 487px;

  @include _desktop {
    height: 460px;
  }
} 

.slider-holder {
  padding: 0 20px;
}