

.product__wrapper {
position: relative;
}

.list {
display: flex;
flex-wrap: wrap;
margin-right: -30px;
margin-top: 30px;
margin-bottom: -30px;
position: relative;
z-index: 3;
}

.product__item {
  width: 300px;
  height: 445px;
  margin-right: 30px;
  position: relative;
  margin-bottom: 30px;
}
.slider__list {
  position: relative;
  height: 445px; 
  margin-bottom: 0px;
  transition: transform 0.6s;
}
.item {
  position: relative;
  margin: 0 30px 0 0;
}

.item {
  position: absolute;
  opacity: 0;
  transform: translateX(calc(-100% - 30px));
  transition: transform 0.6s, opacity 0.4s;
}
.item.show {
  opacity: 1;
  transform: translateX(0);
}
.item.show + .item {
  opacity: 1;
  transform: translateX(calc(100% + 30px));
}
.item.show + .item + .item {
  opacity: 1;
  transform: translateX(calc(200% + 60px));
}
.item.show + .item + .item + .item {
  opacity: 1;
  transform: translateX(calc(300% + 90px));
}
.item.show + .item + .item + .item ~ .item {
  opacity: 0;
  transform: translateX(calc(400% + 120px));
}



@media screen and (max-width: 1200px) {
  .product__item {
    height: 462px;
  }
  .slider__list {
    height: 462px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 1024px) {

  .list {
    margin-right: -20px;
  }
  .slider__list {
      height: 415px;
      margin-right: 0px;
  }
  .item {
    transform: translateX(calc(-100% - 20px));
  }
  .item.show {
    opacity: 1;
    transform: translateX(0);
  }
  .item.show + .item {
    opacity: 1;
    transform: translateX(calc(100% + 20px));
  }
  .item.show + .item + .item {
    opacity: 1;
    transform: translateX(calc(200% + 40px));
  }
  .item.show + .item + .item + .item {
    opacity: 1;
    transform: translateX(calc(300% + 60px));
  }
  .item.show + .item + .item + .item ~ .item {
    opacity: 0;
    transform: translateX(calc(400% + 90px));
  }
  .product__item {
    width: 229px;
    height: 415px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 576px) {
  
  .slider__list {
    margin-top: 20px;
    height: initial;
  }
  .slider__list.list {
    justify-content: center;
  }
  .list {
    margin-bottom: -20px;
  }

  .product__item {
    width: 320px;
    height: auto;
    margin-bottom: 20px;
    margin-right: 0px;
  }

  .item:nth-child(n + 4) {
    display: none;
  }

  .item {
    position: relative;
    transform: none !important;
    opacity: 1 !important;
    transition: none;
  }
}