@import 'assets/scss/global/mixins';
@import 'assets/scss/global/vars';

.nav {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: calc(100% - 60px);
  opacity: 0.05;
  transition: opacity 0.6s, transform 0.3s;

  @include _767 {
    display: none;
    // position: fixed;
    // left: 0px;
    // top: 0px;
    // width: 100%;
    // height: 100%;
    // max-height: 100%;
    // padding: 50px 20px;
    // align-items: flex-start;
    // background-color: #333333;
    // overflow: auto;
    // scrollbar-width: none;
    // -ms-overflow-style: none;
    // z-index: 2;
    // transform: translateX(101%);
  }

  &.overflow {
    overflow: initial;
    width: min-content;
    // left: 50%;
    // transform: translateX(-50%);
    opacity: 1;
  }

  &.active {
    @include _767 {
      transform: translateX(0%);
      transition: transform 0.5s;
    }
  }

  .general-decor-elem {
    flex-shrink: 0;
    margin: 0 15px 0 0;
    @include _767 {
      display: none;
    }
  }
}

.list {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  text-transform: uppercase;

  @include _767 {
    align-items: flex-start;
    flex-direction: column;
  }
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 30px;

  @include _767 {
    margin-bottom: 30px;
    margin-right: 0px;
  }

  &:last-child {
    margin-right: 0px;

    @include _767 {
      margin-bottom: 0px;
    }
  }

  &:hover {
    .submenu {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, 0);
    }

    .icon {
      transform: rotate(0);
      filter: $filter-color-primary;
    }
  }

  .icon {
    width: 14px;
    height: 14px;
    margin-left: 5px;
    transform: rotate(180deg);
    transition: transform .3s;
  }
}

.link {
  padding: 15px 0px;
  transition: color 0.3s;
  white-space: nowrap;

  &.router-link-active,
  &:hover {
    color: #ACDA53;
  }
}

.submenu {
  position: absolute;
  top: 40px;
  left: 50%;
  padding: 15px 0;
  background: $color-dark-2;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 10%);
  transform: translate(-50%, -20px);
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, transform .3s;

  &-item {
  }

  &-link {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 15px 30px;
    white-space: nowrap;
    transition: background .3s;

    &.router-link-exact-active {
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 15px;
        width: 4px;
        height: 4px;
        background: $color-white;
        border-radius: 2px;
        transform: translateY(-50%);
      }
    }

    &:hover {
      background: $color-dark-3;
    }
  }
}