@import 'assets/scss/global/mixins';
@import 'assets/scss/global/vars';

.inner {
  position: relative;
  margin-bottom: 50px;

  @include _tablet {
    margin-bottom: 80px;
  }

  @include _desktop {
    margin-bottom: 100px;
  }
}

.hero-img {
  img {
    width: calc(100% + 40px);
    margin-left: -20px;
    height: 100px;
    margin-bottom: 20px;
    object-fit: cover;

    @include _tablet {
      height: 224px;
    }

    @include _desktop {
      width: 100%;
      height: 400px;
      margin-left: 0;
      margin-bottom: 30px;
    }
  }
}


.main-caption {
  color: $color-text-bright;
  margin-bottom: 10px;

  @include _desktop {
    margin-bottom: 20px;
  }
}

.content {
  font-size: 14px;
  line-height: 150%;
  color: $color-text;

  & > h6 {
    font-size: 14px;
    line-height: 150%;
    color: $color-text-bright;
    margin-bottom: 10px;
  }

  & > ul {
    margin-bottom: 20px;

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0px;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 7px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $color-text;
      }

    }
  }

  & > ol {
    padding-left: 15px;
    margin-bottom: 20px;
  }

  & > h2 {
    margin-bottom: 20px;
  }
  
  & > p {
    margin-bottom: 20px;
    
    &:last-of-type {
      margin-bottom: 0px;
    }
  }

  & > .narrow,
  & > p,
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6,
  & > ul,
  & > ol {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
  }

  .date {
    font-family: "Impact", sans-serif;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .general-more {
    margin-top: 30px;
  }

}

.similar {
  margin-bottom: 50px;

  @include _tablet {
    margin-bottom: 80px;
  }

  @include _desktop {
    margin-bottom: 100px;
  }
}

.caption {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @include _tablet {
    font-size: 24px;
    line-height: 29px;
  }

  @include _desktop {
    font-size: 30px;
    line-height: 37px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1;
  grid-gap: 30px;
  margin-top: 30px;

  @include _tablet {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @include _desktop {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
