@import 'assets/scss/global/mixins';

.checkout__list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  @include _tablet {
    flex-direction: row;
  }
}

.cart__wrapper .main-caption-l {
  margin-top: 50px;
}