/* Shop page */
.shop-page__wrapper .general-decor-figure {
  width: 320px;
  height: 320px;
  right: -150px;
  top: 35px;
  transform: rotate(30deg);
}
.shop-page__wrapper .general-tabs__list {
  margin-top: 30px;
}
.shop-page__wrapper .main-button {
  margin: 30px auto 0px;
}
/* //Shop page */


.product__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: 30px;
  margin-bottom: -30px;
  position: relative;
  z-index: 3;
}
.product__item {
  width: 300px;
  height: 445px;
  margin-right: 30px;
  position: relative;
  margin-bottom: 30px;
}


@media screen and (max-width: 1330px) {
  .product__position {
    display: flex;
    justify-content: center;
  }
  .product__position .product__list {
    max-width: 990px;
  }
}

@media screen and (max-width: 1200px) {
  .product__item {
    height: 462px;
  }
}

@media screen and (max-width: 1024px) {
    /* Shop page */
  .shop-page__wrapper .general-decor-figure {
    width: 245px;
    height: 245px;
    right: -50px;
    top: 100px;
  }
  .shop-page__wrapper .general-tabs__list {
    margin-top: 50px;
  }
  /* //Shop page */

  .product__position {
    display: flex;
    justify-content: center;
  }

  .product__position .product__list {
    max-width: 747px;
  }
  .product__list {
    margin-right: -20px;
  }


  .product__item {
    width: 229px;
    height: 415px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  /* Product */
    .product__position {
      display: flex;
      justify-content: center;
    }
    .product__position .product__list {
      max-width: 498px;
    }
}

@media screen and (max-width: 576px) {
      /* Shop page */
  .shop-page__wrapper .general-decor-figure {
    display: none;
  }
  .shop-page__wrapper .general-tabs__list {
    margin-top: 30px;
  }
  /* //Shop page */

  .product__position {
    display: flex;
    justify-content: center;
  }
  .product__position .product__list {
    margin-right: 0px;
    max-width: 320px;
    width: 100%;
  }

  .product__list {
    margin-bottom: -20px;
  }


  .product__item {
    width: 320px;
    height: auto;
    margin-bottom: 20px;
    margin-right: 0px;
  }
}