@import 'assets/scss/global/mixins';

.wrapper {
  position: relative;
}

.inner {
  max-width: 960px;
  width: 100%;
  margin: 30px auto 0 auto;
}

.review {
  @include _tablet {
    padding: 30px;
    border-radius: 30px;
    background-color: #333333;
  }
}

.loadmore-btn {
  margin-top: 20px;
  margin-left: auto;
}

.form {
  margin-top: 50px;
  background-color: transparent;
  padding: 0px;
  border-radius: 0px;
}