.custome-placeholder__wrapper {
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  pointer-events: none;

  &.disabled {
    .custome-placeholder__before,
    .custome-placeholder__text,
    .custome-placeholder__after {
      border-color: #828282;
      color: #828282;
    }
  }

  &.active {
    .custome-placeholder__text {
      border-top: none;
      
      .inner-text {
        position: relative;
        top: initial;
        color: #FFFFFF;
        transform: translateY(-50%);
        font-size: 10px;
        padding: 0 10px;
      }
    }
  }
}

.custome-placeholder__text {
  height: 100%;
  width: auto;
  border: 1px solid #FFFFFF;
  border-left: none;
  border-right: none;
  color: #828282;
}

.custome-placeholder__text .inner-text {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: transform .3s, font-size .3s;
}

.custome-placeholder__text .inner-text span {
  color: #ACDA53;
}

.custome-placeholder__before {
  width: 20px;
  border: 1px solid #FFFFFF;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.custome-placeholder__after {
  flex-grow: 1;
  border: 1px solid #FFFFFF;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}