
.bonuses-button .icon-info {
  font-size: 8px;
}
.bonuses-button .text {
  padding-right: 8px;
}
.bonuses-button {
  transition: color .4s;
}

.overlay {
display: none;
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.25);
z-index: 3;
}
.overlay.active {
display: block;
}
.popup-reviews__wrapper {
display: flex;
flex-direction: column;
align-items: center;
}
.popup-reviews__wrapper .clients-say__info__text {
display: block;
max-height: initial;
margin-bottom: 20px;
}
.popup-registration-social .button-enter {
display: flex;
margin-left: auto;
margin-top: 20px;
}
.popup-registration-social .wrapper {
  display: flex;
  justify-content: space-between;
}

.popup-check-email {
display: flex;
flex-direction: column;
align-items: center;
}
.popup-check-email .popup__body{
display: flex;
flex-direction: column;
align-items: center;
}
.popup-check-email__info {
  display: flex;
  font-size: 12px;
  line-height: 15px;
  margin-top: 30px;
  color: #E0E0E0;
}

@media screen and (max-width: 576px) {
/* noty */

.push_notification {
    top: 51px;
    right: 0px;
}
.popup {
  max-width: 100%;
  padding: 30px 20px;
}

.popup-delivery__payment .delivery__item__img {
  height: 30px;
}
.popup-delivery__option {
  margin-bottom: 20px;
}
.popup-delivery__option .delivery__list-option {
  flex-direction: column;
}
.popup-delivery__option .delivery__item {
  margin-bottom: 20px;
}
.popup-delivery__option .delivery__item:last-child {
  margin-bottom: 0px;
}
.popup-delivery__method__text,
.popup-delivery__payment__text {
  margin-top: 20px;
}
/* Popup result-calc */
.popup-result-calc {
  padding: 50px 20px;
}
.popup-result-calc .product__list {
  justify-content: center;
}
/* //Popup result-calc */
}