@import 'assets/scss/global/vars';
@import 'assets/scss/global/mixins';

.wrapper {
  position: relative;
}

.nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  margin-right: 20px;

  @include _desktop {
    margin-top: 20px;
    margin-right: 65px;
  }

  &__button {
    display: none;

    @include _desktop {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 15px;
      border: 1px solid $color-dark-3;
    }

    .icon {
      width: 14px;
      height: 14px;
    }

    &.next {
      transform: rotate(180deg);
    }
  }
}


.numbers {
  display: flex;
  align-items: center;
  margin: 0px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: #E0E0E0;

  @include _desktop {
    margin: 0px 20px;
    font-size: 14px;
  }

  &__button {
    color: #4F4F4F;
    transition: color 0.4s;
    position: relative;
    margin-right: 10px;

    &:hover {
      color: $color-gray-3;
    }

    @include _tablet {
      margin-right: 20px;
    }

    &:last-child {
      margin-right: 0px;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0px;
      top: -5px;
      width: 100%;
      height: 1px;
      background-color: transparent;
      transition: background-color 0.4s;
    }

    &.active {
      color: $color-gray-3;

      &:before {
        background-color: $color-gray-3;
      }
    }
  }
}


.slides {
  position: relative;
  height: 400px;

  @include _tablet {
    height: 360px;
  }

  @include _desktop {
    height: 510px;
  }
}

.image {
  position: absolute;
  width: 100%;
  height: 156px;
  left: 0px;
  bottom: 0px;
  opacity: 0;
  transition: opacity 1s;
  object-fit: cover;

  @include _tablet {
    height: 180px;
  }

  @include _desktop {
    height: 262px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 30px 0 0 0;
  font-family: "Impact", sans-serif;
  position: relative;
  -webkit-animation-duration: 0;
  animation-duration: 0;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transform: translate3d(0, -150%, 0);

  @include _tablet {
    padding: 50px 20px 0 20px;
  }

  @include _desktop {
    max-width: 1330px;
    padding: 80px 20px 0 20px;
  }

  @include _large-desktop {
    padding-top: 90px;
    padding-left: 50px;
  }

  &.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }

  &__line-2 {
    max-width: 320px;
    margin-bottom: 70px;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 48px;
    line-height: 110%;

    @include _tablet {
      max-width: initial;
      margin-bottom: 20px;
      font-size: 64px;
      line-height: 78px;
    }

    @include _desktop {
      font-size: 96px;
      line-height: 117px;
    }
  }

  &__line-1 {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 20px;
    font-weight: 400;

    @include _tablet {

    }

    @include _desktop {
      font-size: 20px;
      max-width: 80%;
    }
  }
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 0px 20px;

  @include _tablet {
    padding: initial;
  }

  .main-button-color {
    max-width: 180px;
    margin: auto auto 70px;

    @include _tablet {
      margin: initial;
    }
  }

  &.show {
    position: relative;
    z-index: 1;

    .content {
      animation-name: main-slider;
    }

    .image {
      opacity: 1;
    }
  }
}
@keyframes main-slider {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -120%, 0);
    -ms-transform: translate3d(0, -120%, 0);
    transform: translate3d(0, -120%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.decor-list {
  position: absolute;
  top: 120px;
  right: 20px;

  @include _tablet {
    top: 90px;
    right: 65px;
  }

  @include _desktop {
    right: 150px;
    top: 100px;
  }
}