@import 'assets/scss/global/mixins';

.breadcrumbs {
  margin: 30px 0px;

  @include _1024 {
    margin: 20px 0px 30px;
  }

  @include _576 {
    display: none;
  }

  .list {
    display: flex;
    font-size: 14px;
    line-height: 14px;
  }
  .item {
    margin-right: 20px;
    position: relative;
    transition: color 0.4s;

    &:hover {
      color: #ACDA53;
    }

    &::before {
      content: "|";
      position: absolute;
      right: -12px;
      top: 0px;
      color: #FFFFFF;
    }

    &:last-child {
      pointer-events: none;
      color: #828282;
    }

    &:last-child::before {
      display: none;
    }
  }
}