@import 'assets/scss/global/mixins';
@import 'assets/scss/global/vars';

.list {
  position: relative;
  z-index: 3;
  height: 100%;
  width: 100%;
  // overflow: hidden;

  .list-ul {
    display: flex;
    width: 100%;
    grid-gap: 30px;
    transition: transform 0.5s cubic-bezier(0.31, 0.3, 0.38, 1.14);
  }

  @include _tablet {
    width: 100vw;
  }
}


.item {
  position: relative;
  max-width: 300px;
  width: 100%;
  flex-shrink: 0;
  opacity: 1;
}

.item > div {
  width: 100%;
}

// @media screen and (max-width: 1024px) {
//   .item {
//     width: 230px;
//     transform: translateX(calc(-100% - 20px));
//   }
//   .item.show {
//     opacity: 1;
//     transform: translateX(0);
//   }
//   .item.show + .item {
//     opacity: 1;
//     transform: translateX(calc(100% + 20px));
//   }
//   .item.show + .item + .item {
//     opacity: 1;
//     transform: translateX(calc(200% + 40px));
//   }
//   .item.show + .item + .item + .item {
//     opacity: 1;
//     transform: translateX(calc(300% + 60px));
//   }
//   .item.show + .item + .item + .item ~ .item {
//     opacity: 0;
//     transform: translateX(calc(400% + 80px));
//   }
// }

@media screen and (max-width: 576px) {
  .item {
    width: 100%;
  }
}