.forgot__wrapper {
  margin: 0 0 25px auto;
  font-size: 12px;

  .forgot-btn {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.main-button {
  max-width: 100%;
}