@import 'assets/scss/global/mixins';
@import 'assets/scss/global/vars';


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 75px;
  height: 70px;
  background: $color-dark;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 4;

  @include _1440 {
    padding: 0px 20px;
  }

  @include _767 {
    height: 50px;
    padding: 0px 0px 0px 20px;
  }

  .logo {
    max-width: 138px;
    height: 31px;

    @include _767 {
      max-width: 119px;
      height: 26px;
    }
  }
  
  .nav {
    display: flex;
    align-items: center;
    position: relative;

    @include _767 {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      max-height: 100%;
      padding: 50px 20px;
      align-items: flex-start;
      background-color: #333333;
      overflow: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      z-index: 2;
      transform: translateX(101%);
    }

    &.active {
      @include _767 {
        transform: translateX(0%);
        transition: transform 0.5s;
      }
    }

    .general-decor-elem {
      position: absolute;
      left: -30px;
      top: 50%;
      transform: translateY(-50%);

      @include _767 {
        display: none;
      }
    }
  }

  .list {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    text-transform: uppercase;

    @include _767 {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  .item {
    margin-right: 30px;

    @include _767 {
      margin-bottom: 30px;
      margin-right: 0px;
    }

    &:last-child {
      margin-right: 0px;

      @include _767 {
        margin-bottom: 0px;
      }
    }
  }

  .link {
    padding: 15px 0px;
    transition: color 0.4s;
  }
}


.header__link.active,.header__drop-link.active {
    color: #ACDA53;
}
// .header__item__drop {
//   position: relative;
// }
// .header__item__drop .wrapper {
//   display: flex;
//   align-items: center;
//   padding: 15px 0px 14px;
//   cursor: pointer;
//   transition: color 0.4s;
// }
// .header__item__drop .text {
//   margin-right: 5px;
// }
// .header__item__drop .icon-drop {
//   font-size: 4px;
//   transform: rotate(-180deg);
//   transition: transform 0.4s;
// }
// .header__item__drop.active .icon-drop {
//   transform: rotate(0deg);
// }
// .header__item__drop.active .header__drop-list {
//   visibility: visible;
//   opacity: 1;
//   transition: opacity 0.4s, visibility 0s 0s;
// }
// .header__drop-list {
//   position: absolute;
//   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
//   padding: 15px 30px;
//   background-color: #333333;
//   top: calc(100% + 23px);
//   left: 50%;
//   transform: translateX(-50%);
//   visibility: hidden;
//   opacity: 0;
//   transition: opacity 0.4s, visibility 0s 0.4s;
// }
// .header__drop-link {
//   display: flex;
//   padding: 15px 0px;
//   white-space: nowrap;
//   transition: color 0.4s;
// }

// header__nav-profile 
.btns-set {
  display: flex;

  @include _767 {
    align-items: center;
  }

  .icon {
    width: 24px;
    height: 24px;
    filter: $filter-color-white;
  }
}

.search {
  position: relative;
  margin-right: 30px;

  @include _1200 {
    position: static;
  }

  @include _576 {
    margin-right: 20px;
  }

  &__form {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    border-bottom: 1px solid #FFFFFF;
    width: 0px;
    height: 20px;

    @include _1200 {
      top: 100%;
      left: 0px;
      width: 100%;
      height: 50px;
      padding: 10px 20px;
      background-color: #333333;
      border-bottom: none;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      transform: translateX(101%);
    }

    &::before {
      @include _1200 {
        content: "";
        position: absolute;
        left: 20px;
        bottom: 14px;
        width: calc(100% - 40px);
        height: 1px;
        background-color: #C4C4C4;
      }
    }
  }

  &__input {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    background-color: transparent;
    max-width: 190px;
    width: 100%;
    border: none;

    @include _1440 {
      max-width: 145px;
    }

    @include _1200 {
      max-width: calc(100% - 25px);
    }

    &::placeholder {
      color: #828282;
    }
  }

  &__button {
    transition: color 0.4s;
  }

  &.active {
    .search__form {
      width: 220px;
      transition: width 0.4s;

      @include _1440 {
        width: 175px;
      }

      @include _1200 {
        width: 100%;
        transform: translateX(0%);
        transition: transform 0.4s;
      }
    }

    .search__button {
      @include _1200 {
        color: #ACDA53;
      }
    }
  }
}

.header__nav-lang__item {
  margin-right: 30px;
}

.livesearch {
  position: absolute;
  right: -10px;
  top: 30px;
  width: 240px;
  padding: 20px;
  background-color: #333333;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  visibility: hidden;
  opacity: 0;

  @include _1200 {
    top: calc(100% + 50px);
    right: 0px;
    width: 100%;
    box-shadow: none;
  }

  &.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s, visibility 0s 0s;
  }

  &__list {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #E0E0E0;
    text-transform: uppercase;
  }

  &__item {
    margin-bottom: 20px;
    transition: color .4s;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}



.header__nav-profile__item {
  transition: color 0.4s;
}
.header__nav-profile__item .icon-profile {
  font-size: 17px;
}
.header__nav-profile__item .icon-cart {
  font-size: 17px;
}
.header__nav-profile__item .img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header__nav-profile__item-cart {
  margin-left: 30px;
  position: relative;
}
.header__nav-profile__item-cart .decor-cart {
  display: block;
  position: absolute;
  right: -7px;
  top: -7px;
  background-color: #ACDA53;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.header__nav-profile__item-burger,
.header__close-nav {
  display: none;
}

/* Header */

@media screen and (max-width: 992px) {
  .header__item:nth-child(2),
  .header__item:nth-child(4) {
      display: none;
  }
  .header__drop-list {
    transition: none;
  }
}
@media screen and (max-width: 765px) {
  .header__nav::-webkit-scrollbar {
    display: none;
  }
  .header__close-nav {
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .header__item__drop .wrapper {
    display: none;
  }
  .header__item__drop .header__drop-list {
    position: static;
    visibility: visible;
    opacity: 1;
    box-shadow: none;
    transform: none;
    padding: 0px;
    margin-top: -15px;
  }
  .header__link {
    padding: 0px;
  }
  .header__item-hide-tablet {
    display: flex;
  }
  .header__nav-profile__item-burger {
    display: flex;
  }
  .header__burger,
  .header__close-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #201F1F;
  }
  .header__burger .decor,
  .header__close-nav .decor {
    width: 20px;
    height: 8px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
  }
  .header__burger {
    margin-left: 20px;
  }
}



@media screen and (max-width: 575px) {
  .header__nav-profile__item-cart {
    margin-left: 20px;
  }
}