@import 'assets/scss/global/mixins';

.popup {
  $self: &;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 10;
  background-color: #fff;
  max-height: 100%;
  width: 100%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 50px;
  max-width: 460px;
  background-color: #333333;
  
  &::-webkit-scrollbar {
    display: none;
  }

  &.medium {
    max-width: 700px;
  }

  &-wrapper {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    background: rgba(0,0,0, 0.85);
    opacity: 0;
    z-index: -1;

    @include _tablet {
      top: 70px;
      height: calc(100% - 70px);
    }

    &.active {
      opacity: 1;
      z-index: 10;

      #{ $self } {
        transform: translate(-50%, -50%) scale(1);
        transition: transform 0.4s;
      }
    }
  }
}