.reviews {
  margin-top: 50px;
}

.reviews__caprtion {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: 1px solid #4F4F4F;
}

.reviews__caprtion .general-decor-elem {
  margin-right: 10px;
}

.add-reviews {
  padding: 30px;
  background-color: #333333;
  border-radius: 30px;
}

.add-reviews .reviews__caprtion {
  color: #ACDA53;
  margin-bottom: 30px;
}



.reviews__list {
  margin-top: 20px;
}






.more-reviews-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 150%;
  margin-left: 60px;
  margin-top: 10px;
  transition: color 0.4s;
}
.more-reviews-text .text {
  margin-right: 10px;
}
.more-reviews-text .icon-drop {
  font-size: 4px;
  transform: rotate(180deg);
  transition: transform .4s;
}
.reviews__wrapper {
  position: relative;
}
.reviews__wrapper .general-decor-figure {
  width: 406px;
  height: 406px;
  transform: rotate(126.53deg);
  left: -105px;
  bottom: 115px;
}
.reviews__wrapper .general-decor-text {
  white-space: nowrap;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: -2;
}
.reviews__container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


@media screen and (max-width: 1024px) {
  .add-reviews {
    padding: 20px;
  }

  .reviews__wrapper .general-decor-text {
    display: none;
  }

  .reviews__wrapper .general-decor-figure {
    width: 245px;
    height: 245px;
    transform: rotate(32.38deg);
    bottom: 400px;
  }
  
  .reviews__container {
    margin-top: 40px;
  }
}

@media screen and (max-width: 576px) {
  .add-reviews {
    padding: 0px;
    background-color: transparent;
  }

  .more-reviews-text {
    margin: 20px 0px 0px;
  }

  .reviews__wrapper .general-decor-figure {
    display: none;
  }
  
  .reviews__container {
    margin-top: 10px;
  }
}