@import 'assets/scss/global/mixins';
@import 'assets/scss/global/vars';

.block-wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 50px;
  align-items: flex-start;

  @include _tablet {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  &.vertical {
    @include _tablet {
      grid-template-columns: 100%;
    }

    .rating {
      grid-row-start: 1;

      @include _tablet {
        position: relative;
        top: 0;
      }
    }
  }
}

.rating {
  grid-row-start: 1;
  
  @include _tablet {
    position: sticky;
    top: 85px;
    margin-bottom: 30px;
  }
}

.add-reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  &__text {
    margin: 20px 30px 0 0;
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__desc {
    font-size: 14px;

    &-0 {
      margin: 5px 0;
      font-size: 14px;

      @include _tablet {
        display: flex;
        align-items: center;
      }

      .button-enter {
        margin: 10px 0;

        @include _tablet {
          margin: 0 0 0 5px;
        }
      }
    }
  }

  button {
    margin-top: 20px;
  }
}

.loadmore-btn {
  display: flex;
  align-items: center;
  margin: 15px 0 0 auto;
  transition: color .3s;

  &:hover {
    color: $color-primary;

    .icon {
      filter: $filter-color-primary;
    }
  }

  .icon {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    transform: rotate(180deg);
  }
}

.reviews__list {
  margin-top: 20px;
}






.more-reviews-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 150%;
  margin-left: 60px;
  margin-top: 10px;
  transition: color 0.4s;
}
.more-reviews-text .text {
  margin-right: 10px;
}
.more-reviews-text .icon-drop {
  font-size: 4px;
  transform: rotate(180deg);
  transition: transform .4s;
}
.reviews__wrapper {
  position: relative;
}
.reviews__wrapper .general-decor-figure {
  width: 406px;
  height: 406px;
  transform: rotate(126.53deg);
  left: -105px;
  bottom: 115px;
}
.reviews__wrapper .general-decor-text {
  white-space: nowrap;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: -2;
}
.reviews__container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


@media screen and (max-width: 1024px) {
  .add-reviews {
    padding: 20px;
  }

  .reviews__wrapper .general-decor-text {
    display: none;
  }

  .reviews__wrapper .general-decor-figure {
    width: 245px;
    height: 245px;
    transform: rotate(32.38deg);
    bottom: 400px;
  }
  
  .reviews__container {
    margin-top: 40px;
  }
}

@media screen and (max-width: 576px) {
  .add-reviews {
    padding: 0px;
    background-color: transparent;
  }

  .more-reviews-text {
    margin: 20px 0px 0px;
  }

  .reviews__wrapper .general-decor-figure {
    display: none;
  }
  
  .reviews__container {
    margin-top: 10px;
  }
}