@import 'assets/scss/global/vars';


.popup__header .email {
  margin-top: -10px;
  margin-bottom: 20px;
}

.popup-check__list {
  margin-bottom: 20px;
}
.popup-check__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 15px;
  color: #E0E0E0;
  transition: color 0.4s;
}
.popup-check__item.active {
  color: $color-primary;
}
.popup-check__item.active .decor {
  color: $color-primary;
  border-color: $color-primary;
}
.popup-check__item:last-child {
  margin-bottom: 0px;
}
.popup-check__item .decor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid $color-dark-3;
  margin-right: 10px;

  .icon {
    width: 14px;
    height: 14px;
    filter: $filter-color-dark-3;
  }
}

.form-component {
  &:first-child {
    margin-bottom: 20px;
  }
}

.main-button {
  max-width: 100%;
  margin-top: 20px;
}

.footer {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  .back-btn {
    text-decoration: underline;
    font-size: 14px;

    &:hover {
      text-decoration: none;
    }
  }
}