@import 'assets/scss/global/mixins';

.checkout__item {
  width: auto;
  opacity: 0.6;
  position: relative;
  margin: 0 0 30px 0;

  *, 
  :deep(*) {
    pointer-events: none;
  }

  &:last-child {
    margin: 0;
  }

  @include _desktop {
    width: calc(33.333% - 50px);
    margin: 0 50px 0 0;

    &:last-child {
      margin: 0;
    }
  }


  &.active {
    opacity: 1;

    *, 
    :deep(*) {
      pointer-events: all;
    }

    .checkout__item__header,
    .checkout__item__body {
      pointer-events: painted;
    }
  }

  &__header,
  &__body {
    pointer-events: none;
  }

  &__header {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 20px;

    .calc {
      margin-right: 5px;
      font-weight: 700;
      @include _tablet {
        display: none;
      }
    }
    
    .caption {
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      transition: color .4s;
    }
  }
}

/* Checkout */
.checkout__item.noty .checkout__item__noty{
    opacity: 1;
}
.checkout__item.noty .checkout__item__header .caption {
    color: #ACDA53;
    text-shadow: 0px 0px 8px rgba(172, 218, 83, 0.45);
}
.checkout__item__noty {
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    padding: 20px;
    background: #ACDA53;
    box-shadow: 0px 0px 8px rgba(172, 218, 83, 0.45);
    border-radius: 20px;
    max-width: 229px;
    width: 100%;
    position: absolute;
    right: 40px;
    top: -80px;
    opacity: 0;
    transition: opacity .4s;
}
.checkout__item__noty::before {
    content: "";
    position: absolute;
    left: 20px;
    bottom: -28px;
    border: 15px solid transparent;
    border-top-color: #ACDA53;
    filter: drop-shadow(0px 2px 3px rgba(172, 218, 83, 0.45));
}


.checkout-caption {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}

.checkout-caption-information {
  color: #ACDA53;
}
.checkout__item__body {
  font-size: 14px;
  line-height: 150%;
}


.checkout_form__wrapper {
  display: flex;
  flex-direction: column;
}
.checkout_form__wrapper .button-nav {
  margin-top: -10px;
  margin-left: auto;
}











.chckout__item__shipping-info {
font-size: 14px;
line-height: 150%;
margin-top: 30px;
}
.chckout__item__shipping-info > p {
margin-bottom: 30px;
}
.chckout__item__shipping-info > p:last-child {
margin-bottom: 0px;
}
.chckout__item__shipping-info .caption {
font-size: 14px;
font-weight: 700;
font-weight: 400;
}
.checkout__item__anonympus {
color: #E0E0E0;
margin-top: 30px;
}
.checkout__item__anonympus p {
margin-bottom: 30px;
}
.checkout__item__anonympus p:last-child {
margin-bottom: 0px;
}
.bonuses__container {
  margin: 20px 0px;
  padding: 20px 0px 10px;
  border-top: 1px solid #4F4F4F;
  border-bottom: 1px solid #4F4F4F;
}
/* //Cart */