.reviews__item {
  display: flex;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
  }
  .reviews__item:last-child {
  margin-bottom: 0px;
  }
  .reviews__item-info {
  width: 100%;
  border-bottom: 1px solid #4F4F4F;
  }
  .reviews__item-info__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  }
  .reviews__item-info__header .name {
  text-transform: uppercase;
  font-weight: 700;
  }
  .reviews__item-info__header .date {
  color: #BDBDBD;
  }
  .reviews__item-info__body {
  color: #E0E0E0;
  }
  .reviews__item-info__footer {
  margin-top: 20px;
  padding-bottom: 15px;
  position: relative;
  height: 34px;
  max-height: 34px;
  }
  .reviews__item-info__footer .add-reviews__form {
  position: absolute;
  width: 83%;
  right: 0px;
  top: 35px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.4s 0s, visibility 0s 0.4s, transform 0.4s 0s;
  }
  .reviews__item-info__footer.active {
  height: 147px;
  max-height: 147px;
  //   transition: height 0.1s .2s, max-height 0.1s .2s;
  }
  .reviews__item-info__footer.active .add-reviews__form {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.4s, visibility 0s 0.1s, transform 0.4s;
  }
  .reviews__item-info__footer.active .reviews__interaction__button-reply {
  color: #FFFFFF;
  }
  .reviews__item-info__footer.active .reviews__interaction__button-reply .icon-comment::before {
  content: "\e912";
  }

  .reviews-reply {
    width: 83%;
    margin-left: auto;
    padding-top: 10px;
    border-top: 1px solid #4F4F4F;
  }
  .reviews-reply.active .reviews__list {
    display: block;
    animation: opacity-reviews .6s;
  }
  .reviews-reply.active .more-reviews-text .icon-drop{
    transform: rotate(0deg);
  }
  .reviews-reply .reviews__list {
    display: none;
  }
  .reviews-reply .reviews__item {
    padding: 0px;
  }
  .reviews-reply .more-reviews-text {
    margin: 0px 0px 20px;
  }

  @media screen and (min-width: 1201px) {
    /* Reviews */
    
    .reviews__interaction__button:hover {
        color: #ffffff;
    }
  /* //Reviews */
  }

  .reviews__interaction {
    display: flex;
    align-items: flex-end;
    height: 18px;
    }
    .reviews__interaction__button {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    color: #E0E0E0;
    margin-right: 23px;
    transition: color 0.4s;
    }
    .reviews__interaction__button:first-child {
    align-self: flex-start;
    }
    .reviews__interaction__button .text {
    text-align: center;
    width: 12px;
    margin-left: 5px;
    }
    .reviews__interaction__button .icon-like-up,
    .reviews__interaction__button .icon-like-down,
    .reviews__interaction__button .icon-comment {
    font-size: 14px;
    }
    .reviews__interaction__button.active {
    color: #FFFFFF;
    }
    .reviews__interaction__button.active .icon-like-up {
    font-size: 16px;
    height: 14px;
    }
    .reviews__interaction__button.active .icon-like-up::before {
    content: "\e91d";
    }
    .reviews__interaction__button.active .icon-like-down {
    font-size: 16px;
    height: 14px;
    }
    .reviews__interaction__button.active .icon-like-down::before {
    content: "\e91b";
    }
    .reviews__interaction__button-reply {
    margin-left: 7px;
    }
    .reviews__interaction__button-reply .text {
    margin-left: 10px;
    }