@import 'assets/scss/global/vars';
@import 'assets/scss/global/mixins';


main {
  position: relative;
  min-height: 90vh;
}

.container {
  max-width: 1330px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


.narrow {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;

  @include _tablet {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  @include _desktop {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

img {
  object-position: center;
  width: 100%;
  height: 100%;

  &.cover {
    object-fit: cover;
  }

  &.contain {
    object-fit: contain;
  }
}

.icon {
  width: 24px;
  height: 24px;
  transition: filter .3s;
  filter: $filter-color-white;
}


//  BUTTONS
.a-link {
  color: $color-primary;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 53px;
  border-radius: 30px;
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid #4F4F4F;
  background-color: #242424;
  position: relative;
  overflow: hidden;


  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-color: #333333;
    z-index: 0;
    transform-origin: top;
    transform: rotate(45deg) translate(0, -50%);
    transition: transform 0.4s;
  }

  @include _desktop {
    max-width: 230px;

    &:hover {
      &::before {
        transform: rotate(45deg) translate(0, -100%);
      }
    }
  }

  .text {
    position: relative;
    z-index: 2;
  }


  &.primary-color {
    color: $color-primary;

    .icon {
      filter: $filter-color-primary;
    }
  }

  &.primary {
    border: 0;
    background-color: #bbe768;
    color: $color-white;

    &::before {
      background-color: $color-primary;
    }

    &.loading {
      color: #e9ffbf;

      &::after {
        background: rgba(255,2555,255, 0.2);
      }
    }
  }

  &.small {
    height: 40px;
  }

  &.transparent {
    background-color: rgba(255,255,255, 0.01);
    border: 1px solid $color-white;

    &::before {
      background-color: rgba(255,255,255, 0.25);
      transform: rotate(45deg) translate(0, 50%);
    }

    &:hover {
      &::before {
        transform: rotate(45deg) translate(0, 0);
      }
    }
  }

  &.disabled {
    color: #BDBDBD;
    background-color: #828282;
    pointer-events: none;

    &::before{
      color: #BDBDBD;
      background: #828282;
      pointer-events: none;
    }
  }

  &.bordered {
    border: 2px solid $color-white;
  }

  &.loading {
    pointer-events: none;
    color: $color-gray;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      border-radius: 100%;
      background: rgba(255,2555,255, 0.2);
      transform: scale(0);
      animation: btn-circle 1.5s ease infinite;
    }
  }

}

@keyframes btn-circle {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.main-button-small {
  max-width: 171px;
  height: 40px;
}

.button-only-text {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 0px 3px;
  transition: color 0.4s;

  &:hover {
    color: $color-primary;
  }
}


// SOCIAL COLORS CLASS

.mail-color {
  background-color: #ACDA53;

  @include _desktop {
    &:hover {
      background-color: #F16E6E;
    }
  }
}
.telegram-color {
  background-color: #269ED8;

  @include _desktop {
    &:hover {
      background-color: #5CC0F0;
    }
  }
}
.whatsapp-color {
  background-color: #2CAC1D;

  @include _desktop {
    &:hover {
      background-color: #45CC35;
    }
  }
}
.skype-color {
  background-color: #00ADEF;

  @include _desktop {
    &:hover {
      background-color: #3AC5FA;
    }
  }
}
.viber-color {
  background-color: #7B519C;
  
  @include _desktop {
    &:hover {
      background-color: #8964A6;
    }
  }
}


//  ANIMATIONS
// .list-move,
// .list-enter-active,
// .list-leave-active {
//   transition: opacity 10.6s, left 10.6s;
// }

// .list-move {
//   position: absolute;

//   &.next {
//     animation: leave-next .5s;
//   }

//   &.prev {
//     animation: leave-prev .5s;
//   }
// }

// @keyframes leave-next {
//   0% {
//     opacity: 1;
//     transform: translateX(0);
//   }

//   99% {
//     opacity: 0;
//     transform: translateX(calc(-100% - 30px));
//   }

//   100% {
//     transform: translateX(0);
//   }
// }

// @keyframes leave-prev {
//   0% {
//     opacity: 0;
//     transform: translateX(calc(-100% - 60px));
//   }

//   99% {
//     opacity: 1;
//     transform: translateX(0);
//   }

//   100% {
//     transform: translateX(0);
//   }
// }

// page transition
.page-tr-enter-active {
  transition: opacity .3s, filter .3s;
}

.page-tr-leave-active{
  transition: none;
}

.page-tr-enter-from,
.page-tr-leave-to {
  opacity: 0;
  filter: blur(0.1rem);
}

//
.layout-tr-enter-active {
  transition: transform .3s, opacity .3s;
}
.layout-tr-enter-from,
.layout-tr-leave-to {
  opacity: 0;
  transform: translateY(-10%);
}

// move-x
.move-x-enter-active,
.move-x-leave-active {
  transition: all 0.4s;
}
.move-x-enter-from,
.move-x-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
.move-x-enter-from {
  transform: translateX(-100px);
}
.move-x-leave-to {
  transform: translateX(100px);
}

// move-x-right
.move-x-right-enter-active,
.move-x-right-leave-active {
  transition: all 0.4s;
}
.move-x-right-enter-from,
.move-x-right-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
.move-x-right-enter-from {
  transform: translateX(100px);
}
.move-x-right-leave-to {
  transform: translateX(0);
}

//fade-in
.fade-in-enter-active,
.fade-in-leave-active {
  transition: all 0.3s;
}
.fade-in-enter-from,
.fade-in-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
