@import './common';


@media screen and (min-width: 1201px) {
  /* General */
  .main-button-social-popup:hover::before {
    transform: rotate(45deg) translate(0px, -160px);
  }
  .main-button-small:hover::before {
    transform: rotate(45deg) translate(0px, -65px);
  }
  .button-to-top .to-top:hover {
    color: #ACDA53;
  }
  .button-enter:hover {
    color: #8cbd28;
  }
  .button-only-text:hover {
    color: #d9d9d9;
  }
  .input__wrapper-radio:hover .custome-radio {
    border-color: #ACDA53;
  }
  .privat-policy-text a:hover {
    color: #E0E0E0;
  }
  .referral-withdrawal .main-button-color:hover::before {
    transform: rotate(45deg) translate(0px, -120px);
  }
  .info-button:hover {
      background-color: #919191;
  }
  .check-bonuse__button:hover {
      color: #ACDA53;
  }
  /* //General */
  
  /* Header */
  .header__link:hover,
  .header__item__drop .wrapper:hover,
  .header__drop-link:hover,
  .header__nav-profile__item:hover,
  .header__search__button:hover,
  .header__livesearch-item:hover {
    color: #ACDA53;
  }
  /* Header */
  
    /* Popup */
  .close__popup:hover {
    color: #ffffff;
  }
  .button-nav:hover {
    color: #d9d9d9;
  }
  .popup-noty-cart__info .name:hover {
      color: #ACDA53;
  }
  .bonuses-button:hover {
      color: #ffffff;
  }
  /* // Popup */
    
    /* Choose kratom */
  .choose-kratom__filter__button:hover {
    color: #ACDA53;
  }
  /* //Schoose kratom */
    /* Footer */
  .footer__item:hover,
  .footer__down-link:hover {
    color: #ffffff;
  }
  .footer__social__link:hover {
    background-color: #6F6F6F;
  }
  /* //Footer */
}



/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
textarea {
  font: inherit;
  color: inherit;
  outline: none;
}
input {
  font: inherit;
  color: inherit;
  outline: none;
}
button {
  font: inherit;
  color: inherit;
  text-transform: inherit;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
html {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: #4f4f4f;
}

html::-webkit-scrollbar-thumb {
  background: #4f4f4f;
  border-radius: 10px;
}
html::-webkit-scrollbar {
  background: #333;
  width: 17px;
}
html.overflow {
  height: auto;
  position: relative;
  overflow: hidden !important;
  margin-right: 17px;
}
html.overflow .button-to-top {
  right: 92px;
}
body {
  overflow: hidden;
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFFFFF;
  background-color: #2e2e2e;
  background: url(~/assets/images/main-background.png) repeat center;
  
}
#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// NOTY
.push_notification {
  position: fixed;
  top: 80px;
  right: 30px;
  z-index: 4;
  max-width: 320px;
  width: 100%;
}
.noty_theme__push_notification__item {
  display: flex;
  flex-direction: column;
  background: #2e2e2e;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 20px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08);
  z-index: 4;
}


//  DECORE
.general-decor-elem {
  display: block;
  width: 21px;
  height: 21px;
  background: url(assets/images/general-decor.svg) center / contain no-repeat;
}
.general-decor-text__list {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ACDA53;
  position: absolute;
  right: 150px;
  top: 100px;
  z-index: 9;
}
.general-decor-text__item {
  margin-bottom: 10px;
}
.general-decor-text__item:last-child {
  margin-bottom: 0px;
}


// CAPTION
.main-caption {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}
.main-caption-l {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.main-caption-align {
  text-align: left;
}
.main-caption-s {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main-caption-xs {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
}


// BUTTON TO TOP
.button-to-top {
  position: fixed;
  right: 75px;
  bottom: -50px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.4s, bottom 0.4s;
}
.button-to-top.show {
display: none;
  bottom: 60px;
  opacity: 1;
  z-index: 3;
}
.button-to-top .to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #4F4F4F;
  color: #E0E0E0;
  transition: color 0.4s;
}
.button-to-top .icon-arrow-right {
  display: block;
  transform: rotate(-90deg);
  font-size: 8px;
}





.button-enter {
  flex-shrink: 0;
  font-size: 12px;
  line-height: 15px;
  color: #ACDA53;
  transition: color 0.4s;
}
.total__item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: #BDBDBD;
  margin-bottom: 20px;
  text-transform: uppercase;
}


// RADIO
.input__wrapper-radio {
  display: flex;
  cursor: pointer;
}
.input-radio {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
}
.input-radio:checked + .custome-radio::before {
  opacity: 1;
}
.custome-radio {
  display: flex;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #4F4F4F;
  position: relative;
  margin-right: 15px;
  transition: border-color 0.4s;
}
.custome-radio::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ACDA53;
  opacity: 0;
  transition: opacity 0.4s;
}



.privat-policy-text {
  font-size: 12px;
  line-height: 15px;
}
.privat-policy-text a {
  text-decoration: underline;
  transition: color 0.4s;
}
/* //General */





/* General */
@media screen and (max-width: 1200px) {
  html.overflow {
    margin-right: 0px;
  }
  html.overflow .button-to-top {
    right: 30px;
  }
  .button-to-top {
    right: 30px;
  }
  .main-button-color {
    background-color: #ACDA53;
  }
  .main-button-color::before {
    display: none;
  }
  .main-button {
    background-color: #333333;
  }
  .main-button::before {
    display: none;
  }
  .main-caption {
    font-size: 30px;
    line-height: 37px;
  }
}
@media screen and (max-width: 1024px) {

  .main-caption-l {
    font-size: 20px;
    line-height: 24px;
  }
  .general-decor-caption {
    width: 38px;
    height: 38px;
    padding: 8px;
  }
}
@media screen and (max-width: 767px) {
  .main-caption {
    font-size: 24px;
    line-height: 29px;
  }
}
@media screen and (max-width: 576px) {
  html.overflow .button-to-top {
    right: 20px;
  }
  .main-button,
  .main-button-color {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .button-to-top {
    right: 20px;
  }
  .button-to-top.show {
    bottom: 20px;
  }
  .button-to-top .to-top {
    width: 48px;
    height: 48px;
  }
  main {
    margin-top: 20px;
  }
}

