@import 'assets/scss/global/mixins';
@import 'assets/scss/global/vars';
@import 'assets/scss/global/rich-text';

.inner {
  position: relative;
  margin-bottom: 50px;

  @include _tablet {
    margin-bottom: 80px;
  }

  @include _desktop {
    margin-bottom: 100px;
  }
}

.hero-img {
  position: relative;
  margin-bottom: 20px;
  height: 224px;

  @include _tablet {
    height: 224px;
  }

  @include _desktop {
    height: 400px;
    margin-bottom: 30px;
  }

  img {
    position: absolute;
    width: calc(100% + 40px);
    max-width: calc(100% + 40px);
    margin-left: -20px;
    object-fit: cover;

    @include _desktop {
      width: 100%;
      margin-left: 0;
    }
  }
}


.main-caption {
  color: $color-text-bright;
  margin-bottom: 10px;

  @include _desktop {
    margin-bottom: 20px;
  }
}

.content {
  font-size: 14px;
  line-height: 150%;
  color: $color-text;

  .date {
    font-family: "Impact", sans-serif;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .general-more {
    margin-top: 30px;
  }

}

.similar {
  margin-bottom: 50px;

  @include _tablet {
    margin-bottom: 80px;
  }

  @include _desktop {
    margin-bottom: 100px;
  }
}

.caption {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @include _tablet {
    font-size: 24px;
    line-height: 29px;
  }

  @include _desktop {
    font-size: 30px;
    line-height: 37px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 30px;
  margin-top: 30px;

  @include _tablet {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @include _desktop {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
