@import 'assets/scss/global/mixins';

.list {

  .item {
    margin-bottom: 20px;
  }
}

.radio-slot {
  display: flex;
  align-items: center;

  .image {
    width: 90px;
    height: 46px;
    border-radius: 10px;
    object-fit: cover;
  }

  .name {
    margin-left: 10px;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
  }

}

@media screen and (min-width: 1201px) {

  .check-bonuse {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .check-bonuse__button {
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 45px;
    transition: color .4s;
  }
}


.input__wrapper:last-child {
  margin-bottom: 0px;
}




.footer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 30px 0 0 0;

  @include _tablet {
    align-items: center;
    flex-direction: row;
    margin: 0;
  }
  
  .main-button {
    @include _tablet {
      max-width: 203px;
      margin-left: 20px;
    }
  }

  .policy {
    font-size: 12px;
    margin:  0 0 15px 0;

    @include _tablet {
      margin: 0;
    }
  }
}