.show-password {
  position: absolute;
  font-size: 13px;
  color: #828282;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.4s;
}

.show-password:hover {
  color: #ffffff;
}