@import 'assets/scss/global/vars';

.show-password {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.4s;

  img {
    filter: $filter-color-gray;
  }

  &:hover,
  &.active {
    img {
      filter: $filter-color-white;
    }
  }
}