@import 'assets/scss/global/mixins';

.wrapper {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0px;
    width: 100%;
    height: 141px;
    bottom: -1px;
    background: linear-gradient(360deg, rgba(47, 47, 47, 1) 0%, rgba(47, 47, 47, 0) 100%);

    @include _tablet {
      height: 227px;
      bottom: -50px;
    }
  
    @include _desktop {
      bottom: -100px;
      height: 246px;
    }
  }
}

.text {
  max-height: 465px;
  margin-top: 30px;
  font-size: 16px;
  color: #E0E0E0;
  line-height: 150%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  @include _tablet {
  }

  &::-webkit-scrollbar {
    display: none;
  }

  h4 {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 25px;
  }

  p {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}