@import 'assets/scss/global/mixins';
@import 'assets/scss/global/vars';

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;

  .rating {
    flex-shrink: 0;
    text-align: center;

    &__value {
      font-size: 36px;
      font-weight: 700;
    }

    &__out-of {
      margin-top: 5px;
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  .stars {
    display: flex;
    margin: 0 auto 0 20px;

    .icon {
      width: 36px;
      height: 36px;
      filter: $filter-color-secondary;
      opacity: 0.5;

      &.active {
        opacity: 1;
      }
    }
  }

  .reviews {
    display: flex;
    align-items: center;
    height: 36px;
    flex-shrink: 0;
    white-space: nowrap;
  }
}

.scale {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  &__stars {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 120px;

    .icon {
      filter: $filter-color-secondary;
    }
  }

  &__line {
    position: relative;
    width: 100%;
    margin: 0 30px;
    height: 5px;
    background: $color-dark-3;
    border-radius: 3px;

    &-fill {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-radius: 3px;
      background: $color-secondary;
    }
  }

  &__value {
    width: 20px;
    flex-shrink: 0;
    text-align: right;
    font-weight: 700;
  }

}