@import 'assets/scss/global/mixins';
@import 'assets/scss/global/vars';

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 190px;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 14px;
  line-height: 150%;
  background-color: $color-dark-2;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);


  @include _tablet {
    margin-bottom: 20px;
  }

  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-height: 90px;
    margin: 20px 0 10px 0;
    overflow: hidden;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    text-overflow: ellipsis;


    @include _tablet {
      margin: 10px 0;
      line-height: 130%;
      -webkit-line-clamp: 5;
    }

    @include _desktop {
      margin: 20px 0 5px 0;
      -webkit-line-clamp: 4;
      line-height: 150%;
    }
  }

  &__more {
    color: $color-gray;
    text-transform: capitalize;
    transition: color 0.4s;

    &:hover {
      color: $color-primary;
    }

    &.show {
      display: block;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.name {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #E0E0E0;
  text-align: center;
}