@import 'assets/scss/global/mixins';
@import 'assets/scss/global/vars';


.header {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: minmax(60px, 140px) minmax(min-content, 1fr);
  grid-gap: 15px;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 0 0 20px;
  background: $color-dark-2;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;

  @include _tablet {
    grid-template-columns: 140px minmax(0, 1fr) 100px 156px;
    grid-gap: 60px;
    height: 70px;
    padding: 0 20px;
  }

  @include _desktop {
    grid-template-columns: 140px minmax(0, 1fr) 100px 156px;
  }

  .logo {
    display: flex;
    max-width: 130px;
    height: 30px;
    flex-shrink: 0;
    object-fit: contain;
    transform: translateY(1px);
    margin-right: 20px;

    @include _tablet {
      max-width: 119px;
      height: 26px;
    }
    @include _desktop {
      margin-right: 0;
    }
  }
}


.phone {
  display: none;
  font-size: 12px;
  font-weight: 700;
  transition: color 0.3s;
  white-space: nowrap;

  &:hover {
    color: $color-primary;
  }

  @include _tablet {

  }

  @include _desktop {
    display: block;
  }
}


.btns-set {
  display: grid;
  grid-template-columns: repeat(4, 24px) 50px;
  grid-gap: 20px;
  align-items: center;
  justify-content: flex-end;

  @include _tablet {
    grid-template-columns: repeat(4, 24px);
  }

  @include _desktop {

  }

  .icon {
    width: 24px;
    height: 24px;
    filter: $filter-color-white;
  }
}

.burger-btn {
  position: fixed;
  z-index: 1001;
  top:0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: $color-dark;

  @include _tablet {
    display: none;
  }

  .decor {
    position: relative;
    width: 20px;
    height: 8px;

    &:after,
    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-white;
      transition: top .3s, transform .3s;
    }

    &:after {
      top: 0;
    }

    &:before {
      bottom: 0;
    }
  }

  &.active {
    .decor {
      &:after,
      &:before {
        top: 4px
      }

      &:after {
        transform: rotate(45deg);
      }
      &:before {
        transform: rotate(-45deg);
      }
    }
  }
}

.cart-btn {
  position: relative;
  
  .decor-cart {
    display: block;
    position: absolute;
    right: -7px;
    top: -7px;
    background-color: #ACDA53;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}

.header__nav-profile__item .photo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.lang-popup {
	overflow: hidden;
	position: absolute;
	top: 65px;
	left: 15px;
	width: calc(100vw - 30px);
  padding: 20px 0;
  background: $color-dark-2;
  box-shadow: rgb(0 0 0 / 25%) 0 4px 8px;

  &:before {
    content: '';
    position: fixed;
    top:50px;
    left:0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.85);
    z-index: -1;

    @include _tablet {
      display: none;
    }
  }

  @include _tablet {
    top: 85px;
    right: 15px;
    width: 300px;
    left: initial;
    transform: none;
  }
  
}
