@import 'assets/scss/global/mixins';

.add-reviews__form {
  position: relative;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;

  .button-only-text {
    width: 50%;
    margin-right: 10px;
  }

  .btn {
    @include _tablet {
      max-width: 170px;
    }
  }
}