@import 'assets/scss/global/vars';
@import 'assets/scss/global/mixins';


.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 25px;
  align-items: center;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #4F4F4F;

  @include _tablet {
    grid-template-columns: minmax(0, 1fr) minmax(min-content, 10%) minmax(min-content, 15%) minmax(min-content, 10%) 20px;
  }

  @include _desktop {
    grid-template-columns: minmax(0, 1fr) minmax(min-content, 10%) minmax(min-content, 15%) minmax(min-content, 10%) 20px;
  }

  .header {
    display: flex;
    align-items: stretch;

    &__image {
      width: 100px;
      height: 76px;
      margin-right: 20px;
      flex-shrink: 0;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
      background: $color-dark-2;
    }

    &__content { 
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .title {
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .price {
    display: none;
    white-space: nowrap;

    @include _tablet {
      display: block;
    }
  }

  .mod {
    display: flex;

    &__price {
      margin-left: 10px;
      @include _tablet {
        display: none;
      }
    }
  }

  .quantity, .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.mobile-caption {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;

  @include _tablet {
    display: none;
  }
}

.order-position-item {
  @include _desktop {
    width: calc(48% - 5px);
  }
}


.delete{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 8px;
  right: 0;

  @include _tablet {
    position: relative;
    top: 0;
  }

  img {
    width: 20px;
    height: 20px;
    filter: $filter-color-gray;

    @include _tablet {
      width: 24px;
      height: 24px;
    }
  }
  
  &:hover {
    img {
      filter: $filter-color-white;
    }
  }
}