@import 'assets/scss/global/mixins';

:deep(.variants-item.list) {
  font-size: 16px;
}

.buy-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sale-item {
  @include _desktop {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}

.btn-block {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;

  @include _desktop {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: end;
  }
}

.btn-item {
  max-width: initial;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;

  @include _desktop {
    grid-template-columns: minmax(0, 1fr) 37%;
    grid-column-gap: 40px;
  }
}

.price {
  font-size: 20px;
  line-height: 24px;

  span {
    font-weight: 700;
  }
}