@import 'assets/scss/global/mixins';

.main-button {
  margin: 30px auto 0px;
  max-width: 182px;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  margin-top: 20px;
  width: 100%;
  overflow: hidden;

  @include _tablet {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: 30px;
  }

  @include _desktop {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}